#box {
  border: 2px solid;
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: 200px 200px;
  gap: 10px;
}
#one {
  background-color: red;
}
#two {
  background-color: rgb(116, 141, 56);
}
#three {
  background-color: rgb(47, 84, 164);
}
#four {
  background-color: yellow;
}
