div {
  height: 150px;
  width: 500px;
  background-color: pink;
  border-width: 3px;
  border-style: solid;
  border-color: black;
  border-top: 3px dashed red;
  border-radius: 10px;
  padding-top: 20px;
}
h1{
    height: 150;
    width: 500;
    /* border-width: 5px;
    border-style: dashed;
    border-color: gray; */
    border: 5px dashed gray;
}
button{
    
}
