div{
    width: 100px;
    height: 100px;
    background-color: aqua;
    border: 2px solid black;
    display: inline-block;
}
#static{
    background-color: greenyellow;
    position: static;
    top: 100px;
    left: 100px;
}
