p {
    color: #964B00;
    line-height: 30px;
}
body{
    text-align: center;
    font-family: Georgia;
}
h1{
    color: black;
    text-decoration: black underline;
}
h3{
    color: red;
}
a{
    color: rgb(000, 255, 000);
    text-decoration: none;
}
button{
    background-color: white;
    color: blueviolet;
}
textarea{
    color: #000000;
}