.box {
  height: 50px;
  width: 200px;
  margin: 50px auto;
  border: 2px solid black;
  text-align: center;
  background-color: #7aa874;
  /* Shador */
  box-shadow: 2px 2px 8px black;
}
div:nth-of-type(2n) {
  background-color: #f7db6a;
}
div:nth-of-type(3n) {
  background-color: #ebb02d;
}
#first {
  transform: rotate(45deg);
}
#second {
  transform: scale(0.5);
}
#third {
  transform: translate(-50px, -50px);
}
#fourth {
  transform: skew(30deg);
}
#fifth {
  transform: rotate(30deg) translateX(150px);
}
