*{
    margin: 0%;
    padding: 0%;
}
#box{
    height: 80vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(OIP.jpg);
    background-size: 100%;
}
#head{
    color: white;
    font-size: 50px;
}
#para{
    color: white;
    font-size: 40px;
}