* {
    margin: 0;
    padding: 0;
  }
  #box {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: white;
    overflow: hidden;
  }
  #circle {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    /* background: linear-gradient(45deg, blue,red,yellow); */
    background-image: url(OIP.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;

  }
  
  @keyframes bounce {
    0%   { top: 0; transform: rotate(0deg); }
    50%  { top: 500px; transform: rotate(180deg); } /* Ball touches ground */
    100% { top: 0; transform: rotate(0deg); }     /* Ball returns & completes spin */
  }