.parent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.comment{
    border: solid 2px pink;
    border-radius:14px ;
    width: 150px;
    margin-bottom: 5px;
    padding: 10px;
}