body{
    margin: 0;
    font-family: sans-serif;
}
.nevbar{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.logo{
    color: orangered;
    font-weight: bold;
}
.navlink{
    list-style: none;
    display: flex;
    gap: 20px;
}
.navlink a{
    color: white;
    text-decoration: none;
}
.btn{
    background-color: orangered;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
.btn:hover{
    background-color: brown;
}
.navlink a:hover{
    color: red;
}