.parent{
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 93vh;
}
button {
  background: linear-gradient(135deg, #00c6ff, #0072ff);
  color: white;
  backdrop-filter: blur(10px);
  padding: 10px 18px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 10px;
}
button:hover {
  background: linear-gradient(135deg, #0072ff, #00c6ff);
  box-shadow: 0 6px 15px rgba(0, 114, 255, 0.4);
  transform: translateY(-2px);
}
button:active {
  transform: scale(0.95);
  box-shadow: 0 3px 8px rgba(0, 114, 255, 0.3);
}