<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Post in detail</title>
</head>
<body>
    <h2>Here is your post in detail</h2>
    <p>Post ID: <%= post.id %></p>
    <div class="posts">
        <h3 class="user">Posted by: <%= post.username %></h3>
        <p class="content"><%= post.content %></p>
    </div>
    <a href="/posts">Back to Posts</a>
</body>
</html>